@mixin transition-property($property...) {
  -moz-transition-property:    $property;
  -o-transition-property:      $property;
  -webkit-transition-property: $property;
  transition-property:         $property;
}

@mixin transition-duration($duration...) {
  -moz-transition-property:    $duration;
  -o-transition-property:      $duration;
  -webkit-transition-property: $duration;
  transition-property:         $duration;
}

@mixin animation-fill-mode($direction...) {
  -webkit-animation-fill-mode: $direction;
  -moz-animation-fill-mode:    $direction;
  animation-fill-mode:         $direction;
}

@mixin animation-duration($duration...) {
  -webkit-animation-duration:  $duration;
  -moz-animation-duration:     $duration;
  animation-duration:          $duration;
}

@mixin animation($property...) {
  -webkit-animation:           $property;
  -moz-animation:              $property;
  animation:                   $property;
}

@mixin fade-in() {
  @include transition-property(opacity);
  @include transition-duration(0.5s);

  position: relative;
  top: 0px;
  left: 0px;
  opacity: 0;
}

@mixin fade-in-active() {
  opacity: 1;
}

@mixin fade-out() {
  @include transition-property(opacity);
  @include transition-duration(0.5s);

  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
}

@mixin fade-out-active() {
  opacity: 0;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;

  @include animation(fadeIn ease-in 1);
  @include animation-fill-mode(forwards);
  @include animation-duration(1s);
}

.screen {
  &.home.ng-enter {
    @include fade-in();
  }

  &.home.ng-enter-active {
    @include fade-in-active();
  }

  &.video-detail.ng-leave {
    @include fade-out();
  }

  &.video-detail.ng-leave-active {
    @include fade-out-active();
  }
}
