$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// endbower

//@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
//@import "../bower_components/ionicons/scss/ionicons.scss";

@import "variables.scss";
@import "core.scss";
@import "animation.scss";

@import "breakpoints/768px.scss";

@import "pages/about.scss";
@import "pages/home.scss";

@import "partials/footer.scss";
@import "partials/header.scss";
@import "partials/pagination.scss";
@import "partials/search.scss";
@import "partials/svgloader.scss";
@import "partials/tabs.scss";

// .browsehappy {
//   margin: 0.2em 0;
//   background: #ccc;
//   color: #000;
//   padding: 0.2em 0;
// }

// html {
//   height: 100%;
// }

// body {
//   height: 100%;
//   background-color: #FDFDFD;
//   padding: 0;
// }

// /* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing,
// .footer {
//   padding-left: 15px;
//   padding-right: 15px;
// }

// .copywrite {
//   font-size: 12px;
//   color: rgb(219, 219, 219);
//   text-align: center;
//   padding-bottom: 5px;
// }

// .navbar {
//   border-radius: 0px;
//   border-bottom: 0px;
// }

// .navbar-default .navbar-brand {
//   color: #AA4949;
//   border-left: 5px solid rgb(201, 201, 201);
// }

// /* Custom page header */
// .header {
//   //border-bottom: 1px solid #e5e5e5;
//   margin-bottom: 10px;

//   /* Make the masthead heading the same height as the navigation */
//   h3 {
//     margin-top: 0;
//     margin-bottom: 0;
//     line-height: 40px;
//     padding-bottom: 19px;
//   }
// }

// /* Custom page footer */
// .footer {
//   padding-top: 19px;
//   color: #777;
//   //border-top: 1px solid #e5e5e5;
// }

// .container-narrow > hr {
//   margin: 30px 0;
// }

// /* Main marketing message and sign up button */
// .jumbotron {
//   text-align: center;
//   border-bottom: 1px solid #e5e5e5;

//   .btn {
//     font-size: 21px;
//     padding: 14px 24px;
//   }
// }

// /* Supporting marketing content */
// .marketing {
//   margin: 40px 0;

//   p + h4 {
//     margin-top: 28px;
//   }
// }

// .video-list {
//   ul {
//     padding-top: 20px;
//     padding-left: 20px;
//   }

//   .video-item {
//     list-style-type: none;
//     overflow: auto;
//     height: 115px;

//     .thumbnail {
//       border: none;
//       float:left;
//       width: 120px;
//       height: 90px;
//       margin-top: 10px;
//       margin: 10px 10px 10px 0px;
//     }
//     .detail {
//       max-width: 469px;

//       h5 {
//         margin-bottom: 5px;
//       }

//       .desc {
//         font-size: 12px;
//         max-height: 50px;
//         overflow: auto;
//       }
//     }
//   }
// }

// @mixin fade-in() {
//   -webkit-transition-property: opacity;
//   -moz-transition-property: opacity;
//   -o-transition-property: opacity;
//   transition-property: opacity;
//   -webkit-transition-duration: 0.5s;
//   -moz-transition-duration: 0.5s;
//   -o-transition-duration: 0.5s;
//   transition-duration: 0.5s;
//   position: relative;
//   top: 0px;
//   left: 0px;
//   opacity: 0;
// }

// @mixin fade-in-active() {
//   opacity: 1;
// }

// @mixin fade-out() {
//   -webkit-transition-property: opacity;
//   -moz-transition-property: opacity;
//   -o-transition-property: opacity;
//   transition-property: opacity;
//   -webkit-transition-duration: 0.5s;
//   -moz-transition-duration: 0.5s;
//   -o-transition-duration: 0.5s;
//   transition-duration: 0.5s;
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   opacity: 1;
// }

// @mixin fade-out-active() {
//   opacity: 0;
// }

// .screen {
//   &.home.ng-enter {
//     @include fade-in();
//   }

//   &.home.ng-enter-active {
//     @include fade-in-active();
//   }

//   &.video-detail.ng-leave {
//     @include fade-out();
//   }

//   &.video-detail.ng-leave-active {
//     @include fade-out-active();
//   }
// }

// .tab-content {
//   position: relative;
//   background-color: white;
//   border-right: 1px solid #ddd;
//   border-left: 1px solid #ddd;
//   border-bottom: 1px solid #ddd;
//   padding-bottom: 20px;
// }

// .tab {

//   &.active {
//     box-shadow: 0 1px 2px rgba(0,0,0,.1);
//   }

//   .close-tab {
//     position: absolute;
//     padding-left: 4px;
//     right: 17px;
//     top: 12px;

//     &:hover {
//       border: 1px solid lightgrey;
//       border-radius: 50% 50%;
//       width: 21px;
//       height: 21px;
//       background-color: #e7e7e7;
//       right: 11px;
//     }
//   }
// }

// @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
// @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
// @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

// .fade-in {
//  opacity:0;  /* make things invisible upon start */
//  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
//  -moz-animation:fadeIn ease-in 1;
//  animation:fadeIn ease-in 1;

//  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
//  -moz-animation-fill-mode:forwards;
//  animation-fill-mode:forwards;

//  -webkit-animation-duration:1s;
//  -moz-animation-duration:1s;
//  animation-duration:1s;
// }

// .fly-up {
//   bottom:45% !important;
// }

// .loader-container {
//   .spinner {
//     background-color: #50cf77;
//     display: inline-block;
//     padding: 25px;
//     border-radius: 10px;
//     border: 4px solid #fff;
//     position: fixed;
//     z-index: 1001;
//     bottom:-20%;
//     left: 45%;

//     -webkit-transition-duration: 0.3s; /* Safari */
//     transition-duration: 0.3s;

//     -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
//     box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);

//     -webkit-transition: all 500ms cubic-bezier(0.015, 1, 0.000, 0.870); /* older webkit */
//     -webkit-transition: all 500ms cubic-bezier(0.015, 1.030, 0.000, 0.870);
//        -moz-transition: all 500ms cubic-bezier(0.015, 1.030, 0.000, 0.870);
//          -o-transition: all 500ms cubic-bezier(0.015, 1.030, 0.000, 0.870);
//             transition: all 500ms cubic-bezier(0.015, 1.030, 0.000, 0.870); /* custom */

//     -webkit-transition-timing-function: cubic-bezier(0.015, 1, 0.000, 0.870); /* older webkit */
//     -webkit-transition-timing-function: cubic-bezier(0.015, 1.030, 0.000, 0.870);
//        -moz-transition-timing-function: cubic-bezier(0.015, 1.030, 0.000, 0.870);
//          -o-transition-timing-function: cubic-bezier(0.015, 1.030, 0.000, 0.870);
//             transition-timing-function: cubic-bezier(0.015, 1.030, 0.000, 0.870); /* custom */
//   }

//   .overlay {
//     opacity: 0;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 1000;
//     background-color: rgba(0,0,0,0.5); /*dim the background*/

//     user-select: none;
//     -webkit-user-select: none;
//   }
// }

// .pagination {
//   display: table;
//   margin: 0 auto;
// }

// .search-bar {
//   margin: 10px 0px 20px 0px;
// }

// .searchInput {
//   &::-webkit-input-placeholder { /* WebKit browsers */
//       color: rgb(151, 205, 167);
//   }
//   &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
//      color: rgb(151, 205, 167);
//      opacity:  1;
//   }
//   &::-moz-placeholder { /* Mozilla Firefox 19+ */
//      color: rgb(151, 205, 167);
//      opacity:  1;
//   }
//   &:-ms-input-placeholder { /* Internet Explorer 10+ */
//      color: rgb(151, 205, 167);
//   }
// }

// .bold {
//   font-weight: bold;
// }

// iframe {
//   //opacity: 0;
// }

// .info {
//   padding-top: 20px;
//   padding-bottom: 20px;
//   .img-container {
//     display: inline-block;
//     width: 100%;

//     .img-me {
//       border: 2px solid #50cf77;
//       border-radius: 50%;
//       width:100px;
//       display: block;
//       margin: 0 auto;
//     }
//   }

//   .about-me {
//     position: relative;
//     display: inline-block;
//     top: 20px;
//     left: 20px;
//   }
// }

// /* you can also define the transition style
//    on the base class as well (.repeat-item) */
// .video-item.ng-enter,
// .video-item.ng-leave {
//   -webkit-transition:0.5s linear all;
//   transition:0.5s linear all;
// }

// .video-item.ng-enter,
// .video-item.ng-leave.ng-leave-active {
//   opacity:0;
// }
// .video-itemng-leave,
// .video-item.ng-enter.ng-enter-active {
//   opacity:1;
// }

// .video-container {
//   opacity: 0;
// }

// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }
//   .info {
//     .img-container {
//       width: auto;
//       .img-me {
//         display: inline-block;
//       }
//     }
//   }

//   /* Remove the padding we set earlier */
//   .header,
//   .marketing,
//   .footer {
//     padding-left: 0;
//     padding-right: 0;
//   }
//   /* Space out the masthead */
//   .header {
//     margin-bottom: 30px;
//   }
//   /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron {
//     border-bottom: 0;
//   }
// }
