.search-bar {
  margin: 10px 0px 20px 0px;
}

.searchInput {
  &::-webkit-input-placeholder { /* WebKit browsers */
      color: $neon-green-color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: $neon-green-color;
     opacity:  1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: $neon-green-color;
     opacity:  1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
     color: $neon-green-color;
  }
}
