.navbar {
  border-radius: 0px;
  border-bottom: 0px;
}

.navbar-default .navbar-brand {
  color: #AA4949;
  border-left: 5px solid rgb(201, 201, 201);
}

/* Custom page header */
.header {
  //border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
