.loader-container {
  .spinner {
    background-color: #50cf77;
    display: inline-block;
    padding: 25px;
    border-radius: 10px;
    border: 4px solid #fff;
    position: fixed;
    z-index: 1001;
    bottom:-20%;
    left: 45%;

    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;

    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);

    -webkit-transition: all 500ms cubic-bezier(0.015, 1, 0.000, 0.870); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.015, 1.030, 0.000, 0.870);
       -moz-transition: all 500ms cubic-bezier(0.015, 1.030, 0.000, 0.870);
         -o-transition: all 500ms cubic-bezier(0.015, 1.030, 0.000, 0.870);
            transition: all 500ms cubic-bezier(0.015, 1.030, 0.000, 0.870); /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.015, 1, 0.000, 0.870); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.015, 1.030, 0.000, 0.870);
       -moz-transition-timing-function: cubic-bezier(0.015, 1.030, 0.000, 0.870);
         -o-transition-timing-function: cubic-bezier(0.015, 1.030, 0.000, 0.870);
            transition-timing-function: cubic-bezier(0.015, 1.030, 0.000, 0.870); /* custom */
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5); /*dim the background*/

    user-select: none;
    -webkit-user-select: none;
  }
}

.fly-up {
  bottom:45% !important;
}
