<form class="search-bar" ng-controller="SearchCtrl">
   <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." ng-model="query" ng-enter="search()">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="search()">Search</button>
      </span>
    </div>
</form>

<div ng-controller="TabsCtrl">
  <tabset justified="true">
    <tab ng-repeat="tab in tabs" heading="test" active="tab.active">
      <div class="video-list">
        <ul>
          <li class="video-item" ng-repeat="video in tab.pagination.currentPage">
            <div class="id">
              {{video.id.videoId}}
            </div>
          </li>
        </ul>
      </div>
      <div ng-hide="tabs.length">No videoes found</div>
      <pagination total-items="tab.pagination.totalItems" items-per-page="tab.pagination.pageLength" ng-model="tab.pagination.currentPageNum" ng-change="tab.pagination.pageChanged()"></pagination>
    </tab>
  </tabset>
</div>

<tabset>
  <tab heading="test">
    hello world
  </tab>
  <tab heading="me">
    test me
  </tab>
</tabset>

<div class="tabs-footer">
  <button type="button" class="btn btn-default" ng-hide="tabs.length === 0" ng-click="deleteTab()">Delete tab</button>
</div>
