<form name="searchForm" class="search-bar" ng-controller="SearchCtrl" ng-submit="submitForm(searchForm.$valid)">
   <div class="input-group">
      <input type="text" name="searchInput" class="form-control" placeholder="Search for..." ng-model="query" required>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search</button>
      </span>
    </div>
    <div ng-show="noResults">
      No results for <span class="bold">{{noResultsQuery}}</span>
    </div>
</form>

<div class="tab-container" ng-show="tabs.length" ng-controller="TabsCtrl">
  <tabset justified="true">
    <tab class="tab icon" ng-repeat="tab in tabs" heading="{{tab.query.queryParams.q}}" close="close(tab)" active="tab.active">
      <div class="video-list">
        <ul>
          <li class="video-item" ng-repeat="video in tab.pagination.currentPage" ng-videoId="{{video.id.videoId}}">
            <div class="thumbnail">
              <img ng-src="{{video.snippet.thumbnails.default.url}}"/>
            </div>
            <div class="detail">
              <div>
                <h5><a ng-href="#/videos/{{video.id.videoId}}">{{video.snippet.title}}</a></h5>
              </div>
              <div>
                by <a ng-href="{{'https://www.youtube.com/channel/' + video.snippet.channelId}}">{{video.snippet.channelTitle}}</a>
              </div>
              <div class="desc">
                {{video.snippet.description}}
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div ng-hide="tabs.length">No videoes found</div>
      <pagination total-items="tab.pagination.totalItems" items-per-page="tab.pagination.pageLength" max-size="tab.pagination.maxSize" ng-model="tab.pagination.currentPageNum" ng-change="tab.pagination.pageChanged()"></pagination>
    </tab>
  </tabset>
</div>

<loader overlay="true"></loader>
<modal></modal>
