<form class="search-bar" ng-controller="SearchCtrl">
   <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." ng-model="query" ng-enter="search()">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="search()">Search</button>
      </span>
    </div>
</form>

<tabset class="tabs" justified="true" ng-controller="TabsCtrl">
  <tab ng-repeat="tab in tabs" heading="{{tab.result.query}}" active="tab.active">
    <div class="video-list">
      <ul >
        <li ng-repeat="video in tab.result.videos">
          <div class="id">
            {{video.id.videoId}}
          </div>
        </li>
      </ul>
    </div>
  </tab>
</tabset>

<div class="tabs-footer">
  <button type="button" class="btn btn-default" ng-hide="tabs.length === 0" ng-click="deleteTab()">Delete tab</button>
</div>
